form {
    font-family: 'Arial', 'sans-serif';
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  
    div{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    // Styles for form inputs
    label {
      display: block;
      margin-bottom: 5px;
      margin-top: 5px;
    }
  
    input[type="email"],
    input[type="tel"],
    textarea {
        width: 100%;
        padding: 8px;
        outline: none;
        border: 2px solid black;
        border-radius: 1rem;
    }
  
    input[type="submit"] {
      background-color: #007bff;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  
      &:hover {
        background-color: #0050bf;
      }
    }
    span {
        font-size: 12px;
        color: red;
      }
      button{
        border: 1px solidk;
        outline: none;
        border-radius: 15px;
        padding: 12px 35px;
        background-image: linear-gradient(black, white);
        color: white;
        font-weight: bold;
        transition: all 0.5s ease-in-out;
        box-shadow: 3px 2px lightgray;
        cursor: pointer;
        &:hover{
          background-image: linear-gradient(white, black);
        }
      }
    }