.welcomePage {
    background-image: linear-gradient(43deg, #E8FFFF 0%, #e8fff2 46%, #e8ffe5 100%);
    .welcomeHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40vh;
        padding: 0 5rem;
        img{
            height: 350px;
            border-radius: 10px;
        }
        span{
            font-weight: bold;
            font-size: 2.5rem;
            color:#054581;
        }
        .welcomeHeaderTexts{
            width: 70%;
            a{
                text-decoration: underline;
            }
        }
    }
    .welcomeContent{
        height: calc(100vh - 493px);
        align-items: center;
        justify-content: space-between;
        padding: 0 5rem;
        display: flex;
        gap: 4rem;
        .lowerImage{
            img{
                border-radius: 10px;
                height: 350px;
            }
        }
        .lowerText{
            span{
                font-size: 18px;
                font-weight: bold;
                font-size: 2.5rem;
                color:#054581;
            }
            a{
                text-decoration: underline;
            }
        }
    }
}